.trainer-dashboard {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* SIDEBAR */
.trainer-dashboard .sidebar {
  padding-inline: 10px;
  padding-top: 131px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15%;
  position: sticky;
  top: 0;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.371);
}

/* SIDEBAR CARD */
.trainer-dashboard .sidebar .sidebar-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 20px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 30px;
}

.trainer-dashboard .sidebar .sidebar-card:hover {
  border: 2px solid #3c2a21;
  background-color: rgba(60, 42, 33, 0.05);
}

.trainer-dashboard .sidebar .sidebar-card.active {
  background-color: #3c2a21;
  border-radius: 30px;
  color: white;
}

.trainer-dashboard .sidebar .sidebar-card.active h2 {
  color: white;
}

/* SIDEBAR IMAGE */
.trainer-dashboard .sidebar .sidebar-card img {
  border: 2px solid transparent;
  max-height: 50px;
  max-width: 50px;
  width: 50px;
  height: 50px;
}

/* MAIN CONTENT */
.trainer-main header {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #3c2a21;
  justify-content: space-between;
  align-items: center;
}

.trainer-main .trainer-logo {
  max-width: 101px;
  max-height: 101px;
}

.trainer-main .side-logo {
  display: flex;
  gap: 18px;
  align-items: center;
  padding: 0 44px;
}

.side-logo img {
  max-width: 34px;
  max-height: 34px;
  min-height: 34px;
  min-width: 34px;
}

.side-logo p {
  font-size: 24px;
  font-weight: bolder;
  color: var(--secondary-color);
}

.MainDashboardTrainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  overflow-y: auto;
}

/* TABLE SECTION */
.MainDashboardTrainer .tableWrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 1300px;
  height: 424px;
  margin-inline: auto;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.MainDashboardTrainer .tableWrapper .table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-inline: auto;
  align-content: center;
}

.MainDashboardTrainer .tableWrapper .table .day {
  background-color: white;
  padding-block: 10px;
  text-align: center;
  border: 1px black solid;
}

.MainDashboardTrainer .tableWrapper .table .session {
  display: flex;
  border: 1px black solid;
  background-color: white;
  justify-content: center;
  height: 100px;
}
