.admin-users{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-users .table-wrapper{
    width: 100%;
    height: 100%;
    padding-inline: 20px;
}

.admin-users .headerStyle{
    padding: 8px;
    border: 3px solid #BEBEBE;
}

.admin-users .cellStyle{
    padding: 8px;
    border: 3px solid #BEBEBE;
}

.admin-users .action-btn{
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.admin-users .edit{
    margin-right: 15px;
    background-color: #006CE8;
}

.admin-users .delete{
    background-color: #FF3F33;
}